.functions{
	background-color: black;
	color: white;
	width: 100px;
	height: 35px;
}
#func1, #func2{
	margin: 10px 0px 0px 0px;
}
.select-menu{
	background-color: #3498DB;
	width: 120px;
	height: 25px;
}
.reg-tab{
	width: 100%;
	margin: 2% auto 0 auto;
	padding-top: 0px;
	text-align: center;
}
.head{
	border: 2px solid black;
	text-align: center;
	background-color: #83C8F2;
}
.btn:hover{
	cursor: pointer;
}
#issue-btn{
	background-color: #3498DB;
	border: none;
}

.btn{
	padding: 10px 15px;
	margin: 10px 55px 10px 5px;
	background-color: black;
	border : 1px solid black;
	border-radius: 10px;
	color: white;
	font-size: 12px;
	font-weight: bold;
}

.table1,.table2,.table3{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	border-collapse: collapse;
	padding 5px 20px 5px 20px;
}
.bill-gen{
	width: 30%;
	margin: 0px 350px 0px auto;
	padding: 0px;
}

.table1{
	width: 90%;
}

.table2{
	width: 60%;
}

.table3{
	width: 35%;
}
.td{
	background-color: #505050;
  	color: #FFFFFF;
  	/*-webkit-transition: all 1s linear;*/
	padding 5px 20px 5px 20px;
	text-align: center;
}
td{
	background-color: #FFFFFF;
	color: #000000;
	text-align: left;
	border-style: solid;
	border-color: black;
	min-width: 100px;
	height: 20px;	
}

h2{
	
	margin-top: 2px;
	margin-bottom: 2%;
	text-align: center;
}
body{
	margin: 0;
	background-color: #3498DB;
}
h1{
	margin: 0;
}
li{
	display: inline-block;
	margin: 0 3%;
}
span{
	margin-right: 50px;
}